/*====================================
=            theme styles            =
====================================*/



/* =Typography */
body {
	color: $color-text;
	font: #{$base-font-size}/#{$baseline} $font-1;
}

p {
	a {
		color: $color-text;
		background: #EEE;
		border-radius: 5px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6, {
	margin-bottom: 1.3125rem;
	color: $color-text;
	font-family: $font-2;
	font-weight: normal;
}

h1 {

	font-size: 3.375rem;
	line-height: 3rem;
	font-weight: bold;
	// text-transform: uppercase;
}
h2 {
	font-size: 2.25rem;
	font-weight: bold;
}
h3 {
	font-size: 1.8rem;
	color: $color-light-text;
}
h4 {
	margin-bottom: 10px;
	font-size: 1rem;
	// font-weight: bold;
	letter-spacing: 1px;
}
h5 {
	font-family: $font-1;
	font-size: .75rem;
	font-weight: bold;
	text-transform: uppercase;
}
h6 {
	font-family: $font-1;
	font-size: .444rem;
}

blockquote cite {
	color: $color-light-text;
}


/* =Header */

h1 a {
	color: $color-light-text;
	font-family: $font-2;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $color-light-text;
	}
	
}

/* =Main */


// Fontawesome ICONS
.fa {
	font-size: 3rem;
}
.fa-twitter{
	color: #8BC43F;
}
.fa-github{
	color: #000;
}

// Fontstic ICONS
.icon-home-house-streamline {
	font-size: 2.1rem;
}

.logo {
	margin: 1rem 0;
	padding: 0.67rem 1rem;
	line-height: 3rem;
	font-size: 3rem;
	font-weight: bold;
}

svg {
	margin:0.5rem 1.5rem;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid $color-text;
}

.svg-color1 {
	background: #105B63;
}
.svg-color2 {
	background: #FFFCD3;
}
.svg-color3 {
	background: #FFD34E;
}
.svg-color4 {
	background: #DB9E36;
}
.svg-color5 {
	background: #CE3D2E;
}
















